<h1>Welcome <%=first_name%> <%=last_name%>!</h1>
<h1>From <%=address%> <%=city%>, <%=state%> <%=zip%>.</h1>
<h1>Please enter 3 of your favorite numbers:</h1>
<form method="post" action="fav_numbers">
<input type="hidden" name="first_name" value="<%=first_name%>">
<input type="hidden" name="last_name" value="<%=last_name%>">
<input type="hidden" name="address" value="<%=address%>">
<input type="hidden" name="city" value="<%=city%>">
<input type="hidden" name="state" value="<%=state%>">
<input type="hidden" name="zip" value="<%=zip%>">
<h3>Favorite number 1:</h3>
<input type="number" name="fav_num1" required autofocus>
<h3>Favorite number 2:</h3>
<input type="number" name="fav_num2" required>
<h3>Favorite number 3:</h3>
<input type="number" name="fav_num3" required>
<br><br>
<input type="submit" value="Submit" onclick>
</form>