<div class="box_div">
<h1>So <%=first_name%> <%=last_name%></h1>
<h1>From <%=address%> <%=city%>, <%=state%> <%=zip%></h1>
<h1>Your favorite numbers are <%=fav_num1%>, <%=fav_num2%>, <%=fav_num3%></h1>
<h1>The sum of these numbers are <%=fav_num1.to_i + fav_num2.to_i + fav_num3.to_i%>!</h1>
</div>